/******************************************************************************
fonts (16 18 20 22 24 26 28 36 48)
*******************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lemon);

/******************************************************************************
main
*******************************************************************************/
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #ECEBE7 url("../img/misc/bg.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
}

.container {
    margin-bottom: 60px;
}

label {
    width: 100%;
}

textarea {
    resize: none;
    min-height: 250px;
}

/******************************************************************************
footer
*******************************************************************************/
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

/******************************************************************************
feedback
*******************************************************************************/
.feedback {
    display: block;
    position: fixed;
    top: 50%;
    left: -65px;
    padding: 10px;
    background: rgba(244, 0, 0, 0.8);
    border-radius: 10px;
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    border: 2px solid #428BCA;
    -webkit-transition: left 1s;
    transition: left 1s;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.feedback:hover {
    color: #ffffff;
    text-decoration: none;
    left: -60px;
}

/******************************************************************************
Logo
*******************************************************************************/
#branding {
    padding: 40px 0;
}

.brand {
    font-size: 48px;
    font-family: 'Lemon', cursive;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(150, 150, 150, 1);
}

.brand:hover {
    color: #563D7C;
    text-decoration: none;
}

@-webkit-keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.wobble-vertical {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble-vertical:hover {
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/******************************************************************************
Address
*******************************************************************************/
address span {
    color: #428BCA;
    font-size: 24px;
    font-weight: bold;
}

/******************************************************************************
Horizontal menu
*******************************************************************************/
.horizontal-nav {
     font-size: 20px;
     font-weight: bold;
     text-transform: uppercase;
 }

.horizontal-nav a {
    color: #428BCA;
}

.horizontal-nav span {
    color: #563D7C;
}

.float-shadow {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.float-shadow:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.float-shadow:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

/* Bottom nav */
.bottom-nav {
    padding: 0;
}

.bottom-nav li a {
    padding: 5px 10px;
}

.bottom-nav li a:hover {
    background-color: transparent;
}

/* Sub-nav */
.sub-nav {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
}

.sub-nav > li > a {
    font-size: 14px;
    padding: 2px 15px;
}

/******************************************************************************
Main search
*******************************************************************************/
#main-search {
    position: relative;
}

.search {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    cursor: pointer;
}

/******************************************************************************
Shopping cart
*******************************************************************************/
.fa-shopping-cart {
    color: #119E4D;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

/******************************************************************************
Info on carousel
*******************************************************************************/
.mosaic-block {
    position:relative;
    overflow:hidden;
    width:540px;
    height:350px;
    background:#111 url(../img/misc/progress.gif) no-repeat center center;
}

.mosaic-backdrop {
    display:none;
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:#111;
}

.mosaic-overlay {
    display:none;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
}

.items .mosaic-overlay {
    bottom:-100px;
    height:150px;
    opacity:0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
}

.items .mosaic-overlay:hover {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}

.details {
    margin:15px 20px;
}

.items h4 {
    color:#fff; text-shadow:1px 1px 0 rgb(0,0,0);
}

.items p {
    color:#aaa;
    text-shadow:1px 1px 0 rgb(0,0,0);
}

/******************************************************************************
accordion
*******************************************************************************/
#accordion {
    margin-bottom: 10px;
}

#accordion > div > a {
    padding-left: 2.2em;
}

.filled, .empty {
    color: #000000 !important;
    background: #ECEBE7 url("../img/misc/bg.png") !important;
}

.empty {
    display: block;
    font-family: 'Noto Serif', serif;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: .5em .5em .5em .5em;
    margin-top: 2px;
    color: #000000;
}

.empty:hover {
    border: 1px solid #999999;
    text-decoration: none;
}

.delim {
    margin: 10px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    background-image:         linear-gradient(left, #ccc, #333, #ccc);
}

/******************************************************************************
login & register link
*******************************************************************************/
.sing_in, .register {
    margin-top: 0.3em;
}

.register-link, .auth-link {
    font-weight: bold;
    color: #428BCA;
    border-bottom: 1px dotted #cc0000;
}

.register-link:hover, .auth-link:hover {
    color: #563D7C;
    text-decoration: none;
    border-bottom: none;
}

/******************************************************************************
login & register wrap div style
*******************************************************************************/
.form_wrap {
    border: 5px solid #1F497D;
    border-radius: 5px;
    background: #ECEBE7;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    padding-bottom: 5px;
}

/******************************************************************************
 go back
 *******************************************************************************/
.back, .pointer {
    cursor: pointer;
}

.back:hover {
    font-weight: bold;
}

/******************************************************************************
 identity button width in table
 *******************************************************************************/
.table .btn {
    min-width: 105px;
}

/******************************************************************************
 product filter
 *******************************************************************************/
.product-list {
    color: #428BCA;
}

.product-list:hover {
    cursor: pointer;
    color: #563D7C;
}

/******************************************************************************
 image overlay
 *******************************************************************************/
#showImgDiv{
    position: absolute;
    display: none;
}

#showImgDiv img{
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 189, 255, 0.5);
}

/******************************************************************************
 back to top
 *******************************************************************************/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: -10px;
    right: 15px;
    display: none;
    transition: bottom 1s;
}

.back-to-top:hover {
    bottom: -5px;
}

/******************************************************************************
float form
 *******************************************************************************/
.float-form {
    float: left;
}

/******************************************************************************
cross
 *******************************************************************************/
.btn-remove {
    padding: 10px 0;
    width: 2%;
}

.cross {
    cursor: pointer;
    color: #cc0000;
    font-size: 12px;
}

/******************************************************************************
filter criteria
 *******************************************************************************/
.filter-criteria {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    margin-bottom: 10px;
}

/******************************************************************************
tabs
 *******************************************************************************/
.nav-tabs > li > a {
    background-color: rgba(66, 139, 202, 0.4);
    color: #000000;
}

.nav-tabs > li.active > a, .nav-tabs > li:hover > a {
    background-color: #563D7C;
    color: #ffffff;
}

/******************************************************************************
product
 *******************************************************************************/
.product {
    background: #ffffff;
    border-bottom: 1px solid #F5F5F5;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background 1s;
}

.product:hover {
    background: #F5F5F5;
}

.product:first-child {
    border-top: 1px solid #F5F5F5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product:last-child {
    border-bottom: 1px solid #F5F5F5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/******************************************************************************
product price & name style
 *******************************************************************************/
.product-name {
    color: #428BCA;
}

.product-price {
    color: #563D7C;
}