body {
    background: url("../img/misc/bg.png");
    height: 1500px;
}

.container {

}

/******************************************************************************
feedback
*******************************************************************************/
.feedback {
    display: block;
    position: fixed;
    top: 50%;
    left: -65px;
    padding: 10px;
    background: rgba(244, 0, 0, 0.8);
    border-radius: 10px;
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    border: 2px solid #428BCA;
    -webkit-transition: left 1s;
    transition: left 1s;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.feedback:hover {
    color: #ffffff;
    text-decoration: none;
    left: -60px;
}

/******************************************************************************
Logo (16 18 20 22 24 26 28 36 48)
*******************************************************************************/
#branding {
    padding: 40px 0;
}

.brand {
    font-size: 48px;
    font-family: 'Lemon', cursive;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(150, 150, 150, 1);
}

.brand:hover {
    color: #563D7C;
}

@-webkit-keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.wobble-vertical {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble-vertical:hover {
    -webkit-animation-name: wobble-vertical;
    animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/******************************************************************************
Address
*******************************************************************************/
address span {
    color: #428BCA;
    font-size: 24px;
    font-weight: bold;
}

/******************************************************************************
Horizontal menu
*******************************************************************************/
.horizontal-nav {
     font-size: 20px;
     font-weight: bold;
     text-transform: uppercase;
 }

.horizontal-nav a {
    color: #428BCA;
}

.horizontal-nav span {
    color: #563D7C;
}

.search-input {
    width: 200px;
}

@keyframes hover {
    50% {
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    100% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@-webkit-keyframes hover-shadow {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }

    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }
}

@keyframes hover-shadow {
    0% {
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }

    50% {
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }
}

.hover-shadow {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.hover-shadow:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.hover-shadow:hover:before {
    opacity: .4;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-name: hover-shadow;
    animation-name: hover-shadow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/******************************************************************************
Info on carousel
*******************************************************************************/
.mosaic-block {
    position:relative;
    overflow:hidden;
    width:1170px;
    height:350px;
    background:#111 url(../img/misc/progress.gif) no-repeat center center;
}

.mosaic-backdrop {
    display:none;
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background:#111;
}

.mosaic-overlay {
    display:none;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    background:#111;
}

.items .mosaic-overlay {
    bottom:-100px;
    height:150px;
    opacity:0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
}

.items .mosaic-overlay:hover {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}

.details {
    margin:15px 20px;
}

.items h4 {
    color:#fff; text-shadow:1px 1px 0 rgb(0,0,0);
}

.items p {
    color:#aaa;
    text-shadow:1px 1px 0 rgb(0,0,0);
}